
 <%- include("header") -%>

<h1>Emre Yetiş tarafından yapıldı.</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro culpa consequatur perferendis veritatis tempore sit?</p>

<%- include("footer") -%>